<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>로그인</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/login.css">


</head>
<body>
<div th:replace="~{header :: header}"></div>
<div class="login-wrapper">
<div class="nav-area"></div>

<form id="loginForm">
    <div class="form-box">
        <h1>LOGIN</h1>
    </div>
    <div class="form-box">
        <div class="form-item">
            <label class="input-label">아이디</label>
            <input type="text"
                   name="userId"
                   id="userId"
                   placeholder="아이디를 입력하세요"/>
        </div>

        <div class="form-item">
            <label class="checkbox-wrapper">
                <input type="checkbox" id="saveId" name="saveId">
                <span class="checkmark">아이디 저장</span>
            </label>
        </div>

    </div>

    <div class="form-box">
        <div class="form-item">
            <label class="input-label">비밀번호</label>
            <input type="password"
                   name="userPw"
                   id="userPw"
                   placeholder="비밀번호를 입력하세요"/>
        </div>
    </div>

    <hr class="line"/>

    <div class="text-box">
        <div class="text">
            <span>아직 계정이 없나요?</span>
            <a href="/register" class="font-main">회원가입</a>
        </div>
    </div>

    <div class="button-box">
        <button type="button" id="loginBtn">로그인</button>
    </div>
    </form>
</div>

    <script src="/js/login.js"></script>
</body>
</html>
